
@{
    ViewData["Title"] = "Index";
}


<main>
	<section class="contact">
		<div class="container">
			<br><br>
			<h2>&#9993 Contact Us</h2>
			<p>Have a question or comment? Fill out the form below to get in touch with us.</p>
			<form action="#" method="post">
				<label for="name">Name:</label>
				<input type="text" id="name" name="name" required>

				<label for="email">Email:</label>
				<input type="email" id="email" name="email" required>

				<label for="subject">Subject:</label>
				<input type="text" id="subject" name="subject" required>

				<label for="message">Message:</label>
				<textarea id="message" name="message" required></textarea>

				<input type="submit" value="Submit" class="btn">
			</form>
			<div class="contact-info">
				<br>
				<h3> &#128222 Contact Information</h3>
				<p>
					B, 1 Majid Sarani, <br>
					Khulna 91005
				</p>
				<p>
					Phone: 01775377539<br>
					Email: info@alodge.com
				</p>
			</div>

			<div class="location">
				<br><br>
				<h3>&#9962 Location</h3>
				<p>We are located in the heart of Khulna. Our address is B, 1 Majid Sarani, Khulna 9100.</p><br>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d229.84366267506906!2d89.55099043769272!3d22.821035537881084!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff918e9c716897%3A0x706b6e76a7793626!2sCity%20Inn%20limited!5e0!3m2!1sen!2sbd!4v1680889734498!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
		</div>
	</section>
</main>

