
@{
    ViewData["Title"] = "Index";
}


<main>
	<section class="rooms">
		<h2 style="text-align: center;font-size: 60px;font-family: monospace">Our Rooms</h2>

		<div class="containers">
			<div class="abc">
				<img src="images/room1.jpg" alt="Room 1" class="room-image" height="300" weight="400">
				<h3>Deluxe Room</h3>
				<p>Our deluxe rooms are designed for comfort and relaxation.</p>
				<p> With a king-size bed, luxury linens, and a spacious sitting area, </p>
				<p>you'll feel right at home.</p>
				<p class="room-price">$200 per night</p><br>
				
				<a class="btn" asp-area="" asp-controller="Book" asp-action="Index">Book Now</a>
				
			</div>
			<div class="abc">
				<img src="images/room2.jpg" alt="Room 2" class="room-image" height="300" weight="400">

				<h3>Premium Suite</h3>
				<p>Our premium suites are the epitome of luxury.</p>
				<p> With a separate living area, a four-poster king-size bed, and a Jacuzzi,you'll feel like royalty.</p>

				<p class="room-price">$400 per night</p><br>
				<a class="btn" asp-area="" asp-controller="Book" asp-action="Index">Book Now</a>
			</div>
			<div class="abc">
				<img src="images/room3.jpg" alt="Room 3" class="room-image" height="300" weight="400">

				<h3>Family Room</h3>
				<p>Our family rooms are perfect for families or groups traveling together. With two queen-size beds and a separate sitting area, everyone will have plenty of space.</p>
				<p class="room-price">$300 per night</p><br>
				<a class="btn" asp-area="" asp-controller="Book" asp-action="Index">Book Now</a>
			</div>
			<div class="abc">
				<img src="images/room4.jpg" alt="Room 4" class="room-image" height="300" weight="400">
				<h3>Hollywood Twin Room</h3>
				<p>We are offering some best twin room in the  town. </p>
				<p class="room-price">$250 per night</p><br>
				<a class="btn" asp-area="" asp-controller="Book" asp-action="Index">Book Now</a>
			</div>
			<div class="abc">
				<img src="images/room5.jpg" alt="Room 5" class="room-image" height="300" weight="400">
				<h3>Cabana Room</h3>
				<p>A wholesome room with personalized swimming pool. </p>
				<p class="room-price">$350 per night</p><br>
				<a class="btn" asp-area="" asp-controller="Book" asp-action="Index">Book Now</a>
			</div>
			<div class="abc">
				<img src="images/room6.jpg" alt="Room 6" class="room-image" height="300" weight="400">
				<h3>Studio Room</h3>
				<p>If studio set up is your priority then this should be legendary.  </p>
				<p class="room-price">$200 per night</p><br>
				<a class="btn" asp-area="" asp-controller="Book" asp-action="Index">Book Now</a>
			</div>
		</div>
	</section>
</main>


